<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4 tbl" data-ng-repeat="table in tables track by table.id">
                <div class="col-sm-12 text-center">Table {{table.id}}</div>
                <div class="col-sm-12 bck_lightgray">
                    <div class="col-sm-6 seat_area"
                         data-ng-repeat="seat in table.seats track by $index">
                        <div set-employee draggable="{{employee.id?true:false}}" class="seat" ng-style="{'background-color':employee.id?'lightCyan':'white'}"
                             id="table_{{table.id}}_seat_{{seat}}" >
                            <div class="text" ng-class="{'occupied':employee.id,'empty':!employee.id}">
                                {{employee.id?employee.name:'Empty'}}
                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

